<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.comment_emojis/colon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cyclic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{130,0},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/default.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{253,0},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/evw.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,121}</string>
			<key>spriteSourceSize</key>
			<string>{122,121}</string>
			<key>textureRect</key>
			<string>{{130,122},{122,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/juniper.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{254,122},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/riot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{0,130},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/robtop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{123,245},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/sdslayer.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,128}</string>
			<key>spriteSourceSize</key>
			<string>{134,128}</string>
			<key>textureRect</key>
			<string>{{246,252},{134,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/thesillydoggo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{0,367},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/tride.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{121,121}</string>
			<key>textureRect</key>
			<string>{{131,382},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/uproxide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,128}</string>
			<key>spriteSourceSize</key>
			<string>{132,128}</string>
			<key>textureRect</key>
			<string>{{254,382},{132,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/wulzy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{129,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{0,497},{129,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet03-uhd.png</string>
		<key>size</key>
		<string>{386,625}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet03-uhd.png</string>
	</dict>
</dict>
</plist>