<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.comment_emojis/boshytime.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,128}</string>
			<key>spriteSourceSize</key>
			<string>{146,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{146,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeballin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,96}</string>
			<key>spriteSourceSize</key>
			<string>{100,96}</string>
			<key>textureRect</key>
			<string>{{148,0},{100,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeconfused.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{250,0},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubecool.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{764,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubehappy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{764,258},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeletsgo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{176,128}</string>
			<key>spriteSourceSize</key>
			<string>{176,128}</string>
			<key>textureRect</key>
			<string>{{0,130},{176,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubepog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{178,514},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubescared.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{692,516},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubestare.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{692,774},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubethink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,136}</string>
			<key>spriteSourceSize</key>
			<string>{152,136}</string>
			<key>textureRect</key>
			<string>{{0,260},{152,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeview.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-24,0}</string>
			<key>spriteSize</key>
			<string>{240,288}</string>
			<key>spriteSourceSize</key>
			<string>{288,288}</string>
			<key>textureRect</key>
			<string>{{154,1028},{240,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubewave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,128}</string>
			<key>spriteSourceSize</key>
			<string>{168,128}</string>
			<key>textureRect</key>
			<string>{{0,398},{168,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubewink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{444,1032},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/defaultangry.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{130,1290},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/eeyikes.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,144}</string>
			<key>spriteSourceSize</key>
			<string>{128,144}</string>
			<key>textureRect</key>
			<string>{{0,568},{128,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fumocube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{702,1032},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/robtoppixel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,714},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/smugzero.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{644,1290},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet04-uhd.png</string>
		<key>size</key>
		<string>{1020,1802}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet04-uhd.png</string>
	</dict>
</dict>
</plist>