<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.comment_emojis/100.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/bear.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/broken_heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/clown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_man.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,38},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_woman.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,38},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/dog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,75},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/eggplant.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,75},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/face_with_raised_eyebrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fox.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,113},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/gun.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,113},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/middle_finger.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,114},{30,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/moyai.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,114},{32,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/nerd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,146},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/radioactive.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,148},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/shocked_face.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,150},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/shushing_face.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,151},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/skull.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,184},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/smiling_imp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,186},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/sob.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,188},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/speaking_head.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,189},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/tongue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{36,32}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,222},{36,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet-hd.png</string>
		<key>size</key>
		<string>{150,254}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet-hd.png</string>
	</dict>
</dict>
</plist>