<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.comment_emojis/100.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/bear.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/broken_heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/clown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,20},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_man.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,20},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,20},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/deaf_woman.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,20},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/dog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,40},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/eggplant.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,40},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/face_with_raised_eyebrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,40},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,40},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fox.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,60},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/gun.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{18,17}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,60},{18,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/middle_finger.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,60},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/moyai.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,60},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/nerd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,79},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/radioactive.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,80},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/shocked_face.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,80},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/shushing_face.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,80},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/skull.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,99},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/smiling_imp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,100},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/sob.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,100},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/speaking_head.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,100},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/tongue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,17}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,119},{18,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet.png</string>
		<key>size</key>
		<string>{78,136}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet.png</string>
	</dict>
</dict>
</plist>