<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.comment_emojis/boshytime.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,32}</string>
			<key>spriteSourceSize</key>
			<string>{36,32}</string>
			<key>textureRect</key>
			<string>{{0,0},{36,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeballin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,24}</string>
			<key>spriteSourceSize</key>
			<string>{25,24}</string>
			<key>textureRect</key>
			<string>{{38,0},{25,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeconfused.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{65,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubecool.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{195,0},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubehappy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{195,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeletsgo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,32}</string>
			<key>spriteSourceSize</key>
			<string>{44,32}</string>
			<key>textureRect</key>
			<string>{{0,34},{44,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubepog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{46,130},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubescared.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{176,132},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubestare.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{176,198},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubethink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,34}</string>
			<key>spriteSourceSize</key>
			<string>{38,34}</string>
			<key>textureRect</key>
			<string>{{0,68},{38,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubeview.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{63,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{40,260},{63,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubewave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,32}</string>
			<key>spriteSourceSize</key>
			<string>{42,32}</string>
			<key>textureRect</key>
			<string>{{0,104},{42,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.comment_emojis/cubewink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{114,264},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/defaultangry.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{34,330},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/eeyikes.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{32,36}</string>
			<key>textureRect</key>
			<string>{{0,148},{32,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/fumocube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{180,264},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/robtoppixel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,186},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.comment_emojis/smugzero.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{164,330},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet04.png</string>
		<key>size</key>
		<string>{259,458}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.comment_emojis/GJ_EmojiSheet04.png</string>
	</dict>
</dict>
</plist>